/* Default styling for larger screens */
.dashboard {
	height: 90px; /* Adjust height as needed */
	width: 100%;
	background-color: #33373d;
	color: white;
	font-family: sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	transition: top 0.3s ease;
}

.dashboard.open {
	top: 0;
	animation: slideInTop 0.3s forwards;
}

.dashboard.closed {
	top: -150px; /* Adjust based on the height of the dashboard */
	animation: slideOutTop 0.3s forwards;
}

@keyframes slideInTop {
	from {
		transform: translateY(-150px);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes slideOutTop {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-150px);
	}
}

.dashboard-icon {
	cursor: pointer;
	padding: 10px;
	color: #04bade;
	position: fixed;
	top: 20px;
	right: 20px;
	font-size: 30px;
	transition: transform 0.3s ease;
}

.dashboard-icon.rotate {
	transform: rotate(180deg);
}

.dashboard-content {
	display: flex;
	height: 100%;
}

.dashboard-menu {
	display: flex;
	justify-content: center; /* Center items horizontally */
	padding: 20px;
}

.dashboard-item {
	cursor: pointer;
	padding: 20px;
	text-align: left;
	font-size: 12px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin-right: 20px;
}

.dashboard-item:last-child {
	margin-right: 0;
}

.dashboard-item.selected {
	background-color: rgb(74, 74, 79);
}

.dashboard-item .icon {
	margin-right: 10px;
}

/* Styling for screens smaller than 768px */
@media (max-width: 768px) {
	.dashboard {
		height: 70px; /* Adjust height as needed for smaller screens */
	}

	.dashboard-icon {
		top: 15px;
		right: 15px;
		font-size: 25px;
	}

	.dashboard-item {
		padding: 15px;
		font-size: 10px;
		margin-right: 15px;
	}

	.dashboard-menu {
		padding: 15px;
	}
}

/* Styling for screens smaller than 480px (e.g., phones) */
@media (max-width: 480px) {
	.dashboard {
		height: 50px; /* Adjust height as needed for phones */
	}

	.dashboard-icon {
		top: 10px;
		right: 10px;
		font-size: 20px;
	}

	.dashboard-item {
		padding: 5px;
		font-size: 5px;
	}

	.dashboard-menu {
		padding: 10px;
	}
}
