/* src/components/Footer.css */
.footer {
	width: 97%;
	padding: 20px;
	text-align: center;
	background-color: #333;
	color: #fff;
	position: relative;
	bottom: 0;
	left: 0;
}

@media (max-width: 480px) {
	.footer {
		width: 87%; /* Make the footer full-width on small screens */
		padding: 10px; /* Reduce padding for smaller screens */
		font-size: 14px; /* Adjust font size for better readability on small screens */
	}
}
