/* Default styling for larger screens */
.image-card {
	background-color: #33373d;
	border-radius: 15px;
	padding: 20px;
	overflow: hidden;
	width: 480px; /* You can adjust the width as needed */
	margin: 20px; /* Add margin for spacing */
}

.image-container {
	border-radius: 15px;
	overflow: hidden;
}

.image-container img {
	width: 100%;
	height: auto;
	border-radius: 15px;
}

.text-container {
	margin-top: 10px;
}

.text-container p {
	color: white;
	font-size: 16px;
	text-align: center;
}

.number-image {
	margin-right: 5px; /* Add space between images */
}

/* Styling for screens smaller than 768px */
@media (max-width: 768px) {
	.image-card {
		width: calc(100% - 40px); /* Adjust width to fit smaller screens */
		margin: 10px; /* Adjust margin for spacing */
		padding: 15px; /* Adjust padding for smaller screens */
	}
}

/* Styling for screens smaller than 480px (e.g., phones) */
@media (max-width: 480px) {
	.image-card {
		width: calc(100% - 20px); /* Adjust width to fit phones */
		margin: 10px; /* Adjust margin for spacing */
		padding: 10px; /* Adjust padding for phones */
	}
}
