/* Default styling for larger screens */
.moving-images-container {
	position: relative;
	width: 100%;
	max-width: 600px; /* Adjust the maximum width as needed */
	margin: 0 auto;
}

.arrow-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
}

.arrow-button:focus {
	outline: none;
}

.arrow-button.left {
	left: 0;
}

.arrow-button.right {
	right: 0;
}

.symbols-heading {
	text-align: center;
	margin-bottom: 20px;
	color: #04bade;
}

.note {
	text-align: center;
	margin-top: 20px;
	font-style: italic;
	color: #666;
}

/* Styling for screens smaller than 768px */
@media (max-width: 768px) {
	.moving-images-container {
		max-width: 90%; /* Adjust maximum width for smaller screens */
	}

	.symbols-heading {
		font-size: 20px; /* Adjust font size for smaller screens */
	}

	.note {
		font-size: 14px; /* Adjust font size for smaller screens */
		margin-top: 10px; /* Adjust margin top for smaller screens */
	}
}

/* Styling for screens smaller than 480px (e.g., phones) */
@media (max-width: 480px) {
	.arrow-button {
		font-size: 20px; /* Adjust font size for smaller screens */
	}

	.symbols-heading {
		margin-bottom: 10px; /* Reduce margin bottom for smaller screens */
		font-size: 18px; /* Adjust font size for smaller screens */
	}

	.note {
		font-size: 12px; /* Adjust font size for smaller screens */
		margin-top: 5px; /* Further reduce margin top for smaller screens */
	}
}
