/* Default styling for larger screens */
.symbol-container {
	width: 100px;
	height: 100px;
	border: 1px solid rgb(255, 255, 255);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	text-align: center;
}

.number {
	font-size: 50px;
	line-height: 300px;
	cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}

.image {
	max-width: 100%;
	max-height: 100%;
}

.number-input {
	width: 80%;
	margin-bottom: 10px;
	padding: 8px;
	font-size: 16px;
	background-color: #33373d;
	color: white;
}

/* Styling for screens smaller than 768px */
@media (max-width: 768px) {
	.symbol-container {
		width: 80px; /* Adjust width for smaller screens */
		height: 80px; /* Adjust height for smaller screens */
	}

	.number {
		font-size: 40px; /* Adjust font size for smaller screens */
		line-height: 200px; /* Adjust line height for smaller screens */
	}

	.number-input {
		width: 90%; /* Adjust width for smaller screens */
		padding: 6px; /* Adjust padding for smaller screens */
		font-size: 14px; /* Adjust font size for smaller screens */
	}
}

/* Styling for screens smaller than 480px (e.g., phones) */
@media (max-width: 480px) {
	.symbol-container {
		width: 70px; /* Further adjust width for phones */
		height: 70px; /* Further adjust height for phones */
	}

	.number {
		font-size: 30px; /* Further adjust font size for phones */
		line-height: 150px; /* Further adjust line height for phones */
	}

	.number-input {
		width: 90%; /* Further adjust width for phones */
		padding: 5px; /* Further adjust padding for phones */
		font-size: 12px; /* Further adjust font size for phones */
	}
	.image {
		width: 50px;
		height: 50px;
	}
}
